body{
    background-color: #F1F5F8;
    padding: 60px 0;
}
.main-container{
    width: 600px;
    margin: auto;
}
.header h2{
    text-align: center;
    font-size: 40px;
    margin: 0 0;
}
.under-line{
    width: 100px;
    height:5px;
    background-color:skyblue;
    margin: auto;
   margin-top: 10px;
}